*{
margin: 0;
padding: 0;
box-sizing: border-box;
font-family: Arial, Helvetica, sans-serif;
}
body{
width: 100%;
min-height: 100vh;
background-color: #555;
}
h1{
text-align: center;
color: goldenrod;
padding: 25px 0px;
}
.container{
display: flex;
justify-content: center;
padding: 25px;
}
.box{
background-color: rgb(23, 23, 23);
width: 100%;
height: auto;
direction: rtl;
border-radius: 10px;
box-shadow: 0px 0px 5px black , 0px 0px 10px white;
}
.imgBox{
text-align: center;
margin-bottom: 150px;
padding: 80px;
}
.Upload{
color: wheat;
font-family: Arial, Helvetica, sans-serif;
border: 2px dashed wheat;
padding: 7px 11px;
font-weight: bold;
cursor: pointer;
}
.filter{
padding: 0px 15px;
line-height: 35px;
margin-bottom: 10px;
}
.filter label{
color: #fff;

}
.filter input{
width: 100%;
}
.btn{
display: flex;
justify-content: space-around;
}
.btn button{
width: 90px;
text-align: center;
height: 40px;
background-color: green;
border: none;
border-radius: 5px;
color: wheat;
font-weight: bold;
cursor: pointer;
transition: .3s;
}
.img{
width: 200px;
margin-bottom: 50px;
text-align: center;
}
.img img{
width: 100%;

}
#reset{
background-color: red;
}
@media (min-width:1000px){
.box{
width: 80%;
height: 100%;
}
.container .box{
display: flex;
justify-content: space-between;
align-items: center;
flex-direction: row-reverse;
}
.container .filter{
width: 50%;
}
.imgBox{
    width: 50%;
}
.img{
width: 400px;
}
}